.review-answer-field.review-answer-correct {
	--mdc-outlined-text-field-outline-color: var(--review-success-action);
	--mdc-outlined-text-field-hover-outline-color: var(--review-success-action);
	--mdc-outlined-text-field-focus-outline-color: var(--review-success-action);
	--mat-form-field-outlined-outline-color: var(--review-success-action);
	--mat-form-field-outlined-hover-outline-color: var(--review-success-action);
	--mat-form-field-outlined-focus-outline-color: var(--review-success-action);
	--mdc-outlined-text-field-label-text-color: var(--review-success-action-shadow);
	--mdc-outlined-text-field-focus-label-text-color: var(--review-success-action-shadow);
}

.review-answer-field.review-answer-incorrect {
	--mdc-outlined-text-field-outline-color: var(--review-error-action);
	--mdc-outlined-text-field-hover-outline-color: var(--review-error-action);
	--mdc-outlined-text-field-focus-outline-color: var(--review-error-action);
	--mat-form-field-outlined-outline-color: var(--review-error-action);
	--mat-form-field-outlined-hover-outline-color: var(--review-error-action);
	--mat-form-field-outlined-focus-outline-color: var(--review-error-action);
	--mdc-outlined-text-field-label-text-color: var(--review-error-action-shadow);
	--mdc-outlined-text-field-focus-label-text-color: var(--review-error-action-shadow);
}

:host ::ng-deep .review-answer-field.review-answer-correct .mat-mdc-text-field-wrapper {
	background: #efffe5;
	border-radius: 4px;
}

:host ::ng-deep .review-answer-field.review-answer-incorrect .mat-mdc-text-field-wrapper {
	background: #fff0f0;
	border-radius: 4px;
}

:host ::ng-deep .review-answer-field.review-answer-correct .mdc-notched-outline__leading,
:host ::ng-deep .review-answer-field.review-answer-correct .mdc-notched-outline__notch,
:host ::ng-deep .review-answer-field.review-answer-correct .mdc-notched-outline__trailing {
	border-color: var(--review-success-action)!important;
}

:host ::ng-deep .review-answer-field.review-answer-incorrect .mdc-notched-outline__leading,
:host ::ng-deep .review-answer-field.review-answer-incorrect .mdc-notched-outline__notch,
:host ::ng-deep .review-answer-field.review-answer-incorrect .mdc-notched-outline__trailing {
	border-color: var(--review-error-action)!important;
}

.review-answer-input[readonly] {
	cursor: text;
}
